@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply border px-3 py-2 w-full rounded-md;
}

.btn {
  @apply bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700;
}

.btn-sm {
  @apply text-white text-sm px-3 py-1 rounded;
}


/* Hide only the vertical scrollbar */
.custom-scroll::-webkit-scrollbar {
  display: none;
}

.custom-scroll {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}
